/*
yellow: #ffff00;
dark green: #013220;
grey: #ededed;
 */

body {
  padding-top: 56px;
  background-color: #ededed;
}
#navBar, footer{
  /* background-color: #ffff00; */
  background-color: #013220;
}
.navWords{
  color: white;
}
header{
  /* background-color: #013220; */
  background-color: #ffff00;
}
#title{
  color: #013220;
  /* color: white; */
}
#slogan{
  color: #013220;
}
.space{
  padding-bottom: 55px;
}

#jd{
  height: 50%;
  width: 70%;
  border-radius: 30%;
  margin-top: 70px;
/* }
.clothes{
  max-height: 50px;
  width: 90%;
} */

@media (max-width: 414px) {
  html, body{
    padding-bottom: 5%;
  }
  .nameNumEmail{
    text-align: center;
  }
}
